<?xml version="1.0" encoding="UTF-8"?>
<document>
    <!-- Route 정보 -->
    <routes baseUrl="/">
        <route method="GET" url="/" controller="App\Controllers\HomeController@index" />
        <route method="GET" url="/info.html" controller="App\Controllers\HomeController@info" />

        <route method="GET" url="/users" controller="App\Controllers\UserController@index" />
        <route method="GET" url="/users/create" controller="App\Controllers\UserController@create" />
        <route method="POST" url="/users" controller="App\Controllers\UserController@store" />
        <route method="GET" url="/users/:userId" controller="App\Controllers\UserController@show" />
        <route method="GET" url="/users/:userId/edit" controller="App\Controllers\UserController@edit" />
        <route method="PUT" url="/users/:userId" controller="App\Controllers\UserController@update" />
        <route method="DELETE" url="/users/:userId" controller="App\Controllers\UserController@delete" />
    </routes>
    <!-- Error 발생 시 처리할 Handler 정보 -->
    <errors>
        <error code="404" name="Not Found" controller="App\Controllers\ErrorController::notFound" />
        <error code="405" name="Method Not Allowed" controller="App\Controllers\ErrorController::methodNotAllowed" />
    </errors>
</document>